h1,h2,h3,h4{
  font-family:'Montserrat', sans-serif;
 
}
p{
  font-family: 'Libre Baskerville', serif;
        
            font-size: 20px;
  
}

$stark-color: grey;
$martell-color: #80252a;

html,body{
  overflow:hidden;
}






.profile-card{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  border-radius:20px;
  width:80%;
  max-width:1500px;
  height:90%;
  background-color:white;
  -webkit-box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
  -moz-box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
    box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
}

.photo{
  display:inline-block;
  float:left;
  width:40%;
  height:100%;
  border-radius: 20px 0 0 20px;
}




